@use 'helpers' as *;


html {
    &.is-lock {
        overflow: hidden;
    }
}
body {
    @include fluid-text(18, 12);

    display: flex;
    flex-direction: column;
    font-family: var(--font-family-base);
    letter-spacing: 0.07em;
}

.main {
    padding-bottom: fluid(347, 148);
}

main {
    flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3 {
    font-family: var(--font-family-base);
    font-weight: 400;
}

h4, .h4,
h5, .h5,
h6, .h6 {
    font-weight: 800;
    color: var(--color-red);
}
h1, .h1 {
    @include fluid-text(52, 36);
}
h2, .h2 {
    @include fluid-text(37, 26);
    line-height: 1.07;
}
h3, .h3 {
    @include fluid-text(25, 16);
    line-height: 1.4
}
h4, .h4 
    {@include fluid-text(21, 14);
        line-height: 1.25;
}

a,
button,
label,
input,
textarea,
select,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    color: inherit;

    @include hover {
        color: var(--color-gray);
    } 

    &[class] {
        text-decoration: none;
    }
}

:focus-visible {
    outline: rem(2) dashed var(--color-red);
    outline-offset: rem(4);
    transition-duration: 0s !important;
}