@use 'helpers' as *;

:root {
    --color-dark: #040404;
    --color-red: #DE343D;

    --color-yellow: #FFB800;
    --color-gray: #9c9c9c;
    --color-gray-de: #dedede;
    --color-dark-gray: #808080;


    --color-white: #fff;
    --color-light-gray: #F9F9F9;

    --color-opacity: rgba(255, 255, 255, 0.14);

    --container-width: #{rem(1600)};
    --container-padding-x: #{rem(96)};

    --font-family-base: 'Monument Extended';

    --transition-duration: 0.3s;

    --button-border: #{rem(1.3)} solid var(--color-gray-de);

    --gradient: linear-gradient(209deg, #de343d 0%, #ffb800 100%);

    @include laptop {
        --container-padding-x: #{rem(40)};}
}