@use "../helpers" as *; 

.burger-menu {
    --sizeBurger: #{rem(30)};

    @include mobile-above {
        display: none;
    }

    @include mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        background-color: transparent;
        z-index: 100;
        border: none;
        row-gap: rem(5);
    
        @include square(var(--sizeBurger));
    
        &__line {
            display: block;
            width: 100%;
            height: rem(3);
            border-radius: rem(3);
            background-color: var(--color-gray);
            transition-duration: var(--transition-duration);
        }

        &.is-active span {
            &:first-child {
                position: relative;
                rotate: 135deg;
                bottom: -0.6em;
            }
            &:nth-child(2) {
                rotate: 225deg;
            }
            &:last-child {
                width: 0;
            }
            &:first-child,
            &:nth-child(2) {
                width: 85%;
            }
        }

        &::before {
            @include square(#{rem(60)});
        }

    }
    
}