@use "../helpers" as *;

.card {
    display: flex;
    flex-direction: column;
    color: var(--color-dark);
    overflow: hidden;
    
    &__content {
        display: flex;
        flex-direction: column;
        row-gap: fluid(15, 8);
    }
    &__image {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: contain;
        background-color: var(--color-light-gray);
    }
    
    &__info {
        display: flex;
        flex-direction: column;
        row-gap: fluid(6, 3);
    }

    &__title {
        @include fluid-text(21, 14);
        white-space: nowrap;
    }

    &__brand {
        @include fluid-text(22, 14);
        color: var(--color-gray);
    }

    &__price {
        @include fluid-text(20, 12);
    }

    &__size {
        color: var(--color-red);
    }
}