@use "../helpers" as *;

.footer {
    background-color: var(--color-light-gray);
    
    &__main {
        display: flex;
        column-gap: fluid(130, 40);
        padding: fluid(108, 72) 0 fluid(112, 76);
        
        @include mobile-above {
            justify-content: flex-end;
        }
        @include mobile {
            flex-wrap: wrap;
            row-gap: rem(20);
        }
    }

    &__column {
        display: grid;
        row-gap: fluid(45, 15);
    }

    &__list {
        display: grid;
        row-gap: fluid(17, 8);
    }

    &__link {
        color: var(--color-red);
    }
}