@use "../helpers" as *;

.hero {
    position: relative;
    background: var(--gradient);
    overflow-x: hidden;
    
    &::before {
        content: "AIR MAX";
        @include abs-center;
        z-index: 0;
        @include fluid-text(382, 85);
        white-space: nowrap;
        color: var(--color-opacity);

    }

    &__main {
        display: grid;
        grid-template-columns: 50% 25%;
        justify-content: end;
        align-items: end;
        padding-block: fluid(20, 10) fluid(62, 34);

        @include mobile-s {
            grid-template-columns: 1fr;
            row-gap: rem(10);
        }

        & * {
            z-index: 5;
        }
    }

    &__button {
        justify-self: center;
        color: var(--color-white);
        border: rem(1) solid var(--color-white);
    }
}