@use "../helpers" as *;

.just {
    position: relative;
    overflow-x: hidden;
    
    &__inner {
        overflow: hidden;
    }
    
    &__main {
        height: fit-content;
        position: relative;
    }

    &__banner {
        filter: blur(rem(4.5));
    }

    &__logo {
        @include abs-center;
        width: fluid(518, 120);
    }

    &::before {
        content: "AIR MAX";
        @include abs-center;
        display: block;
        @include fluid-text(348, 76);
        letter-spacing: -0.07em;
        color: var(--color-opacity);
        white-space: nowrap;
        z-index: 1;
    }
}