@use "../helpers" as *;

.just {
    position: relative;
    overflow-x: hidden;
    
    &__inner {
        overflow: hidden;
    }
    
    &__main {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: fluid(960, 600);
    }
    
    &__banner {
        width: 100%;
        height: 100%;
        display: block;
        background: url(../Images/just__banner.avif) center / cover no-repeat;
        filter: blur(rem(4.5));
    }

    &__logo {
        @include abs-center;
        width: fluid(518, 120);
    }

    &::before {
        content: "AIR MAX";
        @include abs-center;
        display: block;
        @include fluid-text(348, 76);
        letter-spacing: -0.07em;
        color: var(--color-opacity);
        white-space: nowrap;
        z-index: 1;
    }
}