@use "../helpers" as *;

.performants {

    &__inner {
        display: grid;
        row-gap: fluid(92, 56);
        justify-content: center;
        align-items: center;
        padding-block: fluid(77, 36) fluid(167, 78);
        overflow: hidden;
    }

    &__title {
        @include fluid-text(87, 40);
        justify-self: center;
        text-align: center;
        text-transform: capitalize;

        @include tablet {
            max-width: 80%;
            line-height: 1.6;
        }

        &-block {
            position: relative;
            display: inline-block;
            height: 0.7em;
            line-height: 0;
            border-radius: fluid(42, 32);

            &:first-child {
                width: 1.5em;
                background: #000;

                &::before {
                    content: "";
                    position: absolute;
                    inset: rem(-7) 0 0 0;
                    scale: 3.5;
                    background: url(../Images/performantses/white-sneakers.png) center / contain no-repeat;

                }
            }
            &:nth-child(2) {
                width: 2em;
                background: var(--color-yellow);

                &::before {
                    content: "";
                    position: absolute;
                    inset: 0;
                    scale: 3.5;
                    transform: translate(10%, -23%);
                    background: url(../Images/performantses/orange-sneakers.png) center / contain no-repeat;

                }
            }
            &:last-child {
                width: 1.3em;
                background: #000;

                &::before {
                    content: "";
                    position: absolute;
                    inset: 0;
                    scale: 2;
                    background: url(../Images/performantses/small-sneakers.png) center / contain no-repeat;

                }
            }
        }
        
        &-image {
            display: inline-flex;
            vertical-align: middle;
        }
    }

    &__brands-list {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: fluid(80, 32);
    }
}