@use "../helpers" as *;

.section {
    padding-block: fluid(84, 35) fluid(110, 67);

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        @include mobile {
            flex-direction: column;
            align-items: start;
            row-gap: rem(15);
        }
    }

    &__title {
        color: var(--color-red);
        white-space: nowrap;
    }

    &__controls {
        display: flex;
        column-gap: fluid(30, 10);
    }

    &__body {
        margin-block: fluid(23, 13) fluid(76, 46);

        &:has(.gallery__list) {
            margin-block: fluid(87, 45) fluid(35, 17);
        }

        & .gallery__list {
            display: grid;
            justify-self: center;
            grid-template: repeat(2, 1fr) / repeat(3, 1fr);
            row-gap: fluid(92, 46);
            column-gap: fluid(40, 15);
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 50%;
                bottom: 0;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 100%);
            }

            @include tablet {
                grid-template: repeat(3, 1fr) / repeat(2, 1fr);
            }

            @include mobile {
                grid-template-columns: 1fr;
            }
        }
    }

    &__button {
        display: flex;
        justify-self: center;
        border: var(--button-border);
        color: var(--color-dark-gray);
    }
}