@use "../helpers" as *;

.sellers-slider {
    --slideGap: #{fluid(26, 10)};
    overflow: hidden;

    & .slider__list {
        display: flex;
        column-gap: var(--slideGap);
        transition-duration: var(--transition-duration);
    }
    &__card {
        @include laptop-above {
            flex: 0 0 23.75%;
        }

        @include laptop {
            flex: 0 0 32.5%;
        }

        @include mobile {
            flex: 0 0 50%;
        }

        @include mobile-s {
            flex: 0 0 100%;
        }
    }
}