@use "../helpers" as *;

.sellers-slider {
    position: relative;
    --slideGap: #{fluid(40, 15)};
    overflow: hidden;

    & .section__list {
        display: flex;
        column-gap: var(--slideGap);
        transition-duration: var(--transition-duration);

    
    }
    &__card {
        flex: 0 0 calc(24.5% - (var(--slideGap) / 2));

        @include tablet {
            flex: 0 0 calc(33.33% - (var(--slideGap) / 2));
        }

        @include mobile {
            flex: 0 0 50%;
        }

        @include mobile-s {
            flex: 0 0 100%;
        }
    }
}