@use "../helpers" as *;

.view-controls {
    display: flex;
    border: var(--button-border);
    padding-inline: fluid(20, 14);
    width: fit-content;
    
    &__item {
        display: flex;
        align-items: center;
        padding-block: fluid(13, 4);
        

        &:not(:last-child) {
            padding-right: fluid(13, 6);
            border-right: var(--button-border);
        }
        &:not(:first-child) {
            padding-left: fluid(13, 6);
        }
    }
    
    &__button {
        display: flex;
        background-color: transparent;
        border: none;
        padding: 0;
        width: fluid(19, 15);

        @include hover {
            outline: 2px dashed var(--color-dark);
            outline-offset: rem(3);
        }
    }
}